[submodule "TSpp"]
	path = TSpp
	url = https://github.com/Vinifera-Developers/TSpp.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio.git
